.home_area {
    text-align: center;
    margin-bottom: px-to-rem(120);

    .title {
        margin: auto;
        background: linear-gradient(83.66deg, #33cc33 14.54%, #3438ff 109.91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 800;
        font-size: px-to-rem(50);
        line-height: px-to-rem(65);
        width: fit-content;
        margin-bottom: px-to-rem(20);
    }

    .workspace {
        margin-top: px-to-rem(50);
    }

    .version,
    .introduce {
        margin-top: px-to-rem(80);
    }

    .version {
        background: #F2F4F6;
        padding-top: px-to-rem(80);
        padding-bottom: px-to-rem(80);
    }

    .sub_title {
        @include font-rem(30, $main_nab_color, 30, 700);
        margin-bottom: px-to-rem(40);
    }

    .des {
        margin-top: px-to-rem(14);
        @include font-rem(16, #777C81, 16);
    }
}

@include breakpoint("tablet") {}

@include breakpoint("pc") {}